<!DOCTYPE html>
<html>

<head>
	<title>Create Your Brand</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

	<form action="saveData" method="POST">
		<pre>
			What's Your Vision? <input type="text" name="input"
						value='<%=user.input%>'> <br>
			<input type="submit" value="Submit Form"> 
		</pre>
	</form>
</body>

</html>
